body{
    background-color: #eeeeee;
    margin: 0px 0px;
    font-family: 'Montserrat', sans-serif;
}
.padding-left-right{
    padding: 0px 15%;
}
p{
    font-size: 20px;


}
h1{
    font-size: 55px;
    margin: 10px 0px;
    font-weight: 800;
}
h2{
    font-size: 40px;
    font-weight: 800;
    margin: 10px 0px;
}
h3{
    font-size: 20px;
    font-weight: 800;
}
.footer-header{
    font-family: 'Pacifico', cursive;
}





/* colors */
.primary-color-1{
    color: rgb(214, 182, 0);
}
.secondary-bg-color-1{
    background-color: palegoldenrod;
}
.secondary-bg-color-2{
    background-color: powderblue;
}
.secondary-bg-color-3{
    background-color: skyblue;
}
.primary-button-color{
    color: tomato;
}





/* buttons */
.primary-button1{
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    color: white;
    background-image: linear-gradient(rgb(255, 74, 74),tomato);
    border-radius: 5px;
}
.remove-decoration{
    padding: 30px;
    display: inline-block;
    text-decoration: none;
}




/* assential classes */
.padding-top{
    padding-top: 50px;
}
.padding-top-100px{
    padding-top: 100px;
}
.padding-right{
    padding-right: 50px;
}
.margin-left-auto{
    margin-left: auto;
}
.flexible{
    display: flex;
}
.vertical-line{
    background-color: #fc651f;
    padding: 3px;
    border-radius: 5px;
    margin: 12px 10px 0px 0px;
}
.ver-divider{
    margin: 50px;
}

.center-elements{
    text-align: center;
    margin: 100px 20px auto;
}
.margin-right{
    margin-right: 40px;
}





/* sections */
.hero-section{
    margin-top: 10px;
    align-items: center;
}

.hero-half-width{
    width: 50%;
    padding-top: 2%;
}
.hero-half-width img{
    width: 65%;
    align-items: center;
}
.three-column{
  width: 100%;  
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px gray;
}
.three-column img{
    width: 50%;
}
.one-third-space{
    width: 40%;
}
.one-third-space img{
    width: 80%;
    border-radius: 10px;

}
.two-third-space{
    width: 60%;
    margin: auto 0px;
    
}
.footer-section{
    padding: 5px;
    color: white;
    background-color: black;
}